.dim-window{
    position:fixed;
    z-index: 9999;
    background: rgba(0,0,0, 0.6);
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:not-allowed;
}