mat-card{
    width:80%;
    position: absolute;
    margin-left:10%;
    margin-right: 10%;
    top: 10%;
}
mat-card-content{
    display: flex;
    align-items: baseline;
}
mat-accordion{
    width: 100%;
}
.radio-label{
    margin-left:auto;
    padding-right: 1.2rem;
}
.response-card{
    position:relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.response-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}