<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input type="text" placeholder="Select country" matInput [formControl]="citiesControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectCountry(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <span class="radio-label">Show air pollution by: </span>
    <mat-button-toggle-group name="parameters" #group="matButtonToggleGroup" [value]="defaultParameter" (change)="onParamChange(group.value)" [disabled]="!this.selectedCountry">
        <mat-button-toggle *ngFor="let parameter of airPollutionParameters" [value]="parameter">{{parameter}}</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
    <mat-card class="response-card">
      <mat-card-title>The highest measures by {{group.value}} were noted in:</mat-card-title>
  <mat-card-content class="response-content">
      <mat-accordion>

          <mat-expansion-panel *ngFor="let city of mostPollutedCities; let i = index;">
            <mat-expansion-panel-header>
              {{i+1}} {{city}}
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
          </mat-expansion-panel>
  
        
      </mat-accordion>
  </mat-card-content>
</mat-card>
</mat-card>
