mat-card {
  width: 70%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
  padding: 0;
  margin-bottom: calc(100vh - 95vh);
}
mat-card-content {
  display: flex;
}
mat-accordion {
  width: 100%;
}
.radio-label {
  text-align: center;
  color: #d0e4f7;
}
.response-card {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.response-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-image {
  border-radius: 0.8rem;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border: 0.2rem solid #d0e4f7;
  box-sizing: border-box;
}
.city-description-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.description {
  padding-left: 1.5rem;
  box-sizing: border-box;
  width: calc(100% - 12rem);
}
mat-card-header {
  justify-content: center;
  padding: 2rem;
}
.mat-card-header .mat-card-title {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.mat-h1 {
  font-size: 3rem;
  color: #d0e4f7;
}
.mat-h3 {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.no-measurements-error{
  font-size: 1.8rem;
  color: #d0e4f7;
  padding:1rem 1rem 0 1rem;
  text-align:center;
}
.city-name {
  width: 70%;
}
.pollution-level {
  width: 30%;
  text-align: left;
}
mat-expansion-panel-header {
  background: #54a0e2 !important; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #54a0e2 0%,
    #87bcea 100%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #54a0e2 0%,
    #87bcea 100%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #54a0e2 0%,
    #87bcea 100%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a0e2', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #d0e4f7;
  border-radius: 0;
}
mat-expansion-panel-header:hover {
  background: #87bcea !important; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #87bcea 0%,
    #54a0e2 100%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #87bcea 0%,
    #54a0e2 100%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #87bcea 0%,
    #54a0e2 100%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='87bcea', endColorstr='#54a0e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.inputs-block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 98%;
  padding-bottom: 1rem;
}
mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mat-button-toggle {
  background: #54a0e2;
  color: #d0e4f7;
  text-transform: uppercase;
}
.mat-button-toggle-checked {
  background: #0a77d5;
  color: #d0e4f7;
  text-transform: uppercase;
}
.mat-button-toggle-disabled {
  background: #87bcea;

  cursor: not-allowed !important;
}
a:link{
    text-decoration: none;
    display: block;
    text-align: right;
}
a:active{
    color:#0a77d5
}
@media only screen and (max-width: 1200px) {
  mat-card {
    width: 70%;
  }
}

@media only screen and (max-width: 880px) {
  mat-card {
    top: 2%;
    width: 86%;
  }
}
@media only screen and (max-width: 600px) {
  mat-card {
    top: 1%;
    width: 98%;
    margin-bottom: calc(100vh - 99vh);
  }
  .city-description-block {
    flex-direction: column;
  }
  .description {
    padding: 1rem 0 0 0;
    width: 100%;
  }
  .city-image {
    width: 22rem;
  }
}

@media only screen and (max-width: 480px) {
  .mat-button-toggle-group {
    display: inline-grid;
    width:40%;
  }
  .mat-button-toggle-group-appearance-standard
    .mat-button-toggle
    + .mat-button-toggle {
    border-left: none;
  }
  .mat-button-toggle {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
  .city-image {
    width: 18rem;
  }
}

@media only screen and (max-width: 250px) {
  mat-form-field {
    width: 90%;
  }
  .mat-h1 {
    font-size: 1.8rem;
    margin: 0;
  }
}
