<app-loader [isLoading]="this.isLoading"></app-loader>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="mat-h1">Air pollution</h1>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="inputs-block">
      <mat-form-field class="country-input" appearance="outline">
        <mat-label>Select country</mat-label>
        <input type="text" placeholder="Select country" matInput [formControl]="citiesControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectCountry(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <h2 class="mat-h2 radio-label">Choose air pollution parameter</h2>
      <mat-button-toggle-group name="parameters" #group="matButtonToggleGroup" [value]="defaultParameter"
        (change)="onParamChange(group.value)" [disabled]="!this.selectedCountry">
        <mat-button-toggle *ngFor="let parameter of airPollutionParameters" [value]="parameter">{{parameter}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card-content>
  <mat-accordion *ngIf="mostPollutedCities">

    <mat-expansion-panel *ngFor="let city of mostPollutedCities; let i = index;">
      <mat-expansion-panel-header (click)="getCityDescription(city.name)">
        <h3 class="mat-h3"><span class="city-name">{{i+1}}. {{city.name}}</span> <span class="pollution-level">{{city.pollutionLevel}}<span class="unit">µg/m³</span></span></h3>
      </mat-expansion-panel-header>
      <mat-spinner *ngIf="!city.description"></mat-spinner>
      <div class="city-description-block" *ngIf="city.description">
        <img src={{city.img}} class="city-image" />
        <div class="description">{{city.description}}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>